[submodule "services/www"]
	path = services/www
	url = git@github.com:AureliaTech/www.git
[submodule "infra"]
	path = infra
	url = git@github.com:AureliaTech/infra.git
[submodule "services/webapp"]
	path = services/webapp
	url = git@github.com:AureliaTech/webapp.git
